html,
body,
section {
    width: 100%;
    height: 100%;
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

h1#clock {
    font-size: 15vw;
    margin: 0px 0px 4vw 0px;
}
h1#stopwatch {
    font-size: 10vw;
    margin: 0px 0px 4vw 0px;
}

div#pos {
    height: 10%;
}

div#p {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    z-index: 1;
    background-color: white;
}

.black-background {
    background-color: black !important;
}

.dark {
    background-color: black;
    color: white;
}

input {
    height: 40px;
    transition-duration: 0.25s;
    margin: 0px 10% 10px 10%;
}

.hidden {
    display: none;
}

div#smlscr {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: darkorange;
    width: 100vw;
    height: 100vh;
}
div#smlscrtxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    letter-spacing: 0;
}

@media all and (max-height: 600px) {
    div#smlscr {
        display: block;
    }
}
@media all and (max-width: 319px) {
    div#smlscr {
        display: block;
    }
}

@media (hover: hover) {
    input:hover,
    input.clicked {
        background-color: cadetblue;
        transition-duration: 0.25s;
    }
}
@media (hover: none) {
}
