html,
body,
section {
    width: 100%;
    height: 100%;
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

h1#clock {
    font-size: 10vw;
    margin: 0px 0px 50px 0px;
}
h1#stopwatch {
    font-size: 7.5vw;
    margin: 0px 0px 50px 0px;
}

div#pos {
    height: 20%;
}

div#p {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    z-index: 1;
    background-color: white;
}

.black-background {
    background-color: black !important;
}

.dark {
    background-color: black;
    color: white;
}

input {
    height: 40px;
    transition-duration: 0.25s;
    margin: 0px 10% 10px 10%;
}

.hidden {
    display: none;
}

@media (hover: hover) {
    input:hover,
    input.clicked {
        background-color: cadetblue;
        transition-duration: 0.25s;
    }
}
@media (hover: none) {
}
